doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= title
    body
        h1 Character list
        p
            a(href="/new") New character
        if characters.length === 0
            p There are no characters
        else
            ul
                each character in characters
                    li #{character.name} - #{character.job} (Level #{character.level})
